//======== ======== ======== ======== ======== ======== ======== ========
///	\file
///		Version information
///
///	\copyright
///		
//======== ======== ======== ======== ======== ======== ======== ========

#include <version.rc>
